body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mainContainer {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
}
.ans {
  font-size: larger;
  font-family: sans-serif;
  padding: 10px;
  background-color: rgb(50, 169, 205);
  margin-bottom: 5px;
  border-radius: 20px;
  cursor: pointer;
}
.question {
  background-color: aqua;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: "Courier New", Courier, monospace;
}
.nextBtn {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(112, 250, 119);
  font-size: large;
  color: darkblue;
  border: none;
}
